.App {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-family: "Josefin Sans", sans-serif;
  margin: 50px auto 130px auto;
  height: 100%;
}

p {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 19px;
}

.top-half {
  border: 2px groove wheat;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 3px 3px 5px black;
}
.weather-app {
  margin: 0 auto;
  max-width: 550px;
  min-width: 500px;
  border: 5px groove #ffb319;
  border-radius: 10px;
  box-shadow: 7px 7px 5px black;
}
.card {
  background: #606470;
}
.default-color,
.description {
  color: #11468f;
}
.city-date {
  margin-top: 30px;
}
.sun {
  text-align: center;
  font-size: 70px;
}

.color {
  color: #72147e;
  font-size: 19px;
}

.forecast {
  text-align: center;
  text-decoration: underline 3px;
  color: #ffb319;
}
.day,
.H {
  color: #ffb319;
  font-size: 20px;
}
.L {
  color: #ffb319;
  font-size: 20px;
  opacity: 0.7;
}
.emoji {
  font-size: 40px;
}
.future {
  text-align: center;
  border: 2px groove wheat;
  border-radius: 4px;
  margin-right: 10px;
  padding: 10px 0;
  box-shadow: 5px 5px 5px black;
}
.future:hover {
  background-color: rgba(89, 137, 160, 0.3);
}
.future-first {
  text-align: center;
  border: 2px groove wheat;
  border-radius: 4px;
  padding: 10px 0;
  margin: 0 10px 0 30px;
  box-shadow: 5px 5px 5px black;
}
.future-first:hover {
  background-color: rgba(89, 137, 160, 0.3);
}
.future-last {
  text-align: center;
  border: 2px groove wheat;
  border-radius: 4px;
  padding: 10px 0;
  margin-right: 30px;
  box-shadow: 5px 5px 5px black;
}
.future-last:hover {
  background-color: rgba(89, 137, 160, 0.3);
}

.e3 {
  color: #e3e3e3;
}
.wheat {
  color: wheat;
}
.ffb {
  color: #ffb319;
}
.e8 {
  color: #e8630a;
}
.bdaa {
  color: #00bdaa;
}
.white {
  color: white;
}
