.App {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-family: "Josefin Sans", sans-serif;
  margin: 50px auto 130px auto;
  height: 100%;
}

p {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 19px;
}

.top-half {
  border: 2px groove #332fd0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 3px 3px 5px black;
}

form {
  text-align: center;
}
::placeholder {
  color: black;
}
.search-btn {
  background-color: #332fd0;
  box-shadow: 3px 3px 5px grey;
  transition: 250ms ease-in-out;
  margin-left: 5px;
}

.search-btn:hover {
  background-color: transparent;
}
.weather-app {
  margin: 0 auto;
  max-width: 550px;
  min-width: 500px;
  border: 5px groove #332fd0;
  border-radius: 10px;
  box-shadow: 7px 7px 5px black;
}
.card-body {
  background: transparent;
}

.default-color {
  color: #332fd0;
}
.description {
  color: white;
}
.city-date {
  margin-top: 30px;
}
.sun {
  text-align: center;
  font-size: 70px;
}

.color {
  color: white;
  font-size: 22px;
}

.forecast {
  text-align: center;
  text-decoration: underline 3px;
  color: #332fd0;
}
.day,
.H {
  color: ghostwhite;
  font-size: 20px;
}
.L {
  color: ghostwhite;
  font-size: 20px;
  opacity: 0.7;
}
.emoji {
  font-size: 40px;
}
.future {
  text-align: center;
  border: 2px groove #332fd0;
  border-radius: 4px;
  margin-right: 10px;
  padding: 10px 0;
  box-shadow: 5px 5px 5px black;
}
.future:hover {
  background-color: rgba(89, 137, 160, 0.3);
}
.future-first {
  text-align: center;
  border: 2px groove #332fd0;
  border-radius: 4px;
  padding: 10px 0;
  margin: 0 10px 0 30px;
  box-shadow: 5px 5px 5px black;
}
.future-first:hover {
  background-color: rgba(89, 137, 160, 0.3);
}
.future-last {
  text-align: center;
  border: 2px groove #332fd0;
  border-radius: 4px;
  padding: 10px 0;
  margin-right: 30px;
  box-shadow: 5px 5px 5px black;
}
.future-last:hover {
  background-color: rgba(89, 137, 160, 0.3);
}

.e3 {
  color: #e3e3e3;
}
.wheat {
  color: wheat;
}
.ffb {
  color: #ffb319;
}
.e8 {
  color: #e8630a;
}
.bdaa {
  color: #00bdaa;
}
.white {
  color: white;
}
