.location-btn {
  background-color: #332fd0;
  box-shadow: 2px 2px 10px #423f3e;
  padding: 4px 8px;
  border-radius: 10px;
  border-color: white;
  transition: 250ms ease-in-out;
}

.location-btn:hover {
  background-color: transparent;
}
.location-icon {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  color: white;
  font-size: 18px;
}
